<%- include('../partials/header') %>
<div class="card text-center " id="container">
  <div class="card-body">
      <form class="new-form" action="/restaurant-choices" method="POST">
      <table class="table table-bordered">
        <tbody id="tbody">
          <tr>
            <% if (user) { %>
            <h1>Welcome <%= user.name %></h1>
            <% } %>
            <fieldset>
            <th>
                    <input list="cuisine" id="cuisine" class="bar" type="text" placeholder="Search Cuisine Choice..." name="food_choice_1">
                    <input class="bar" type="text" placeholder="Search Cuisine Choice..." name="food_choice_2">
                    <input class="bar" type="text" placeholder="Search Cuisine Choice..." name="food_choice_3">
            </th>
          </fieldset>
          </tr>
        </tbody>
      </table>
      <input class="btn btn-md btn-primary" type="submit" value="Submit">
    </form>
    </div>
    </div>
<br>
    <div class="card text-center " id="container">
      <div class="card-body">
    <button class="btn btn-md btn-primary" id="addBtn" type="button">Add Friend</button>
    </div>
    </div>
<script>
    var rowIdx = 0;
  // jQuery button click event to add a row.
  $('#addBtn').on('click', function () {
      // Adding a row inside the tbody.
      $('#tbody').append(`<tr id="R${++rowIdx}">
            <td>
                    <input class="bar" type="text" placeholder="Search Cuisine Choice..." name="food_choice_1"> 
                    <input class="bar" type="text" placeholder="Search Cuisine Choice..." name="food_choice_2"> 
                    <input class="bar" type="text" placeholder="Search Cuisine Choice..." name="food_choice_3"> 
            </td>
             </tr>`);
  });
  
  // jQuery button click event to remove a row
  $('#tbody').on('click', '.remove', function () {
    
      // Getting all the rows next to the 
      // row containing the clicked button
      var child = $(this).closest('tr').nextAll();
    
      // Iterating across all the rows 
      // obtained to change the index
      child.each(function () {
            
          // Getting <tr> id.
          var id = $(this).attr('id');
    
          // Getting the <p> inside the .row-index class.
          var idx = $(this).children('.row-index').children('p');
    
          // Gets the row number from <tr> id.
          var dig = parseInt(id.substring(1));
    
          // Modifying row index.
          idx.html(`Row ${dig - 1}`);
    
          // Modifying row id.
          $(this).attr('id', `R${dig - 1}`);
      });
    
      // Removing the current row.
      $(this).closest('tr').remove();
    
      // Decreasing the total number of rows by 1.
      rowIdx--;
  });
</script>
<%- include('../partials/footer') %>
