<%- include('../partials/header') %>
  <table id="list">
    <thead>
      <tr>
        <th>Restaurant Name</th>
        <th>Location</th>
        <th>Categories</th>
        <th></th>
      </tr>
    </thead>
    <% businesses.forEach((element, index) => { %>
    <tbody>
      <form class="new-form" action="/restaurant-choices/new" method="POST">
        <tr>
          <td> <input type = "hidden" name = "restaurant_name" value= <% businesses[index].name}%>> </td>
          <td> <input type = "hidden" name = "address" value= <% businesses[index].location.address1 %>> </td>
          <td> <input type = "hidden" name="crusine" value= <% businesses[index].categories[0].title %>> </td>
          <td> <input type="submit" value="Save"> </td>
        </tr>
    <% }); %>
  </form>
      </tbody>
    </table>

<%- include('../partials/footer') %>